<table>
    <tr>
        <th>Név</th>
        <th>e-mail</th>
    </tr>
    <?php foreach (MapperUser::getUsers() as $user) { ?>
    <tr>
        <td><?php echo $user->name; ?></td>
        <td><?php echo $user->email; ?></td>
    </tr>
    <?php } ?>
</table>